<div>
  <div class="mb-8">
    <h1 class="font-bold text-4xl">Event#index</h1>
    <p>Find me in app/views/event/index.html.erb</p>
  </div>
  <%  @events.each do |event| %>
    <ul class="mb-4">
      <%  event.attributes.each do |attr_name, attr_value| %>
        <li>
          <%= attr_name %>: <%= attr_value %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
